<!-- Sidebar -->



<div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="font-size: 14px;color: forestgreen;">
        <br>
        <li class="navbar-ymple" style="float:left;">
            <a href="/admin/new_template/"> <img src="/images/ymple/logo.png" alt="Smiley face" height="50" width="50"></a>
        </li>

        <li class="side">
            <a href="/admin/new_template/">TECSHOP</a>
        </li>

        <br>

       

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-product-hunt" aria-hidden="true"></i>
                &nbsp;&nbsp;Producto<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/product/create">NUEVO</a></li>
                <li><a style="color: forestgreen" href="/admin/product/list">LISTA</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus-square" aria-hidden="true"></i>

                &nbsp;&nbsp;Categoria<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/category/create">NUEVO</a></li>
                <li><a style="color: forestgreen" href="/admin/category/list">LISTA</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>


                &nbsp;&nbsp;Modulo
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">

                <!--li><a href="/admin/module/list/">Full List </a></li-->

                <li><a style="color: forestgreen" href="/admin/module/list/payment/">PAGO</a></li>
                <li><a style="color: forestgreen" href="/admin/module/list/deliver/">ENTREGA</a></li>
                <li><a style="color: forestgreen" href="/admin/module/list/theme/">TEMA</a></li>
                <li><a style="color: forestgreen" href="/admin/module/install/">Instalar el módulo</a></li>

                <li><a style="color: forestgreen" href="#/admin/module/search/">BUSCAR NUEVO MÓDULO</a></li>

                <!--li><a href="/admin/module/create">Install</a></li-->
                <!--li><a href="/admin/module/manage/">Manage</a></li-->

            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-shopping-cart" aria-hidden="true"></i>
                &nbsp;&nbsp;Orden<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/order/manage">ORDEN</a></li>
                <li><a style="color: forestgreen" href="#">ABANDONO DE PAGO</a></li>
            </ul>
        </li>

       
        <li>
            <a href="/admin/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Salir</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->