
<!-- Navigation Bar -->
<%- include commun-back/navbar.light.ejs %>
<!-- Navigation Bar -->


<div class="container">


  
En esta sección, el administrador puede administrar productos, catálogos, usuarios, prefc erencias

</div>


